@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    word-break: break-word;
  }
  h1 {
    font-size: 96px;
    line-height: 112px;
  }
  h2 {
    font-size: 60px;
    line-height: 72px;
  }
  h3 {
    font-size: 48px;
    line-height: 56px;
  }
  h4 {
    font-size: 34px;
    line-height: 42px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
  h6 {
    font-size: 20px;
    line-height: 30px;
  }
  hr {
    border-color: theme("colors.neutral.100");
  }
}

@layer components {
  .container {
    max-width: 1440px;
  }
}
