@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* color: black; */
    background-color: white;
  }
  * {
    word-break: break-word;
  }
  hr {
    border-color: theme("colors.neutral.100");
  }
}

@layer components {
  .container {
    max-width: 1440px;
  }
}
